# Files
src/query/entropy_sampling_dropout*
src/query/entropy_sampling*
src/query/least_confidence*
src/query/marginal_sampling*
src/query/bayesian_active_learning*
src/query/adversarial_bim.py
# Extensions
.DS_Store
*/.DS_Store
*/*/.DS_Store
__pycache__
*/__pycache__
*~$*
*.DS_Store
notebooks/junks.ipynb
notebooks/PolymerOthers.ipynb
